.card{
    border:none;
    padding:20px;
    height: 238px;
    width: 138px;
    background-color: black;
    border-radius:20%;
    color: rgb(255 255 255);
    top: 34%;
    left: 34%;
    padding: 80px;
    margin: 10px;
    position:absolute;

}






